/* Coolors Exported Palette - coolors.co/253031-054a29-519872-ffa011-b5ffe1 */

/* HSL */
$color1: hsla(185%, 14%, 17%, 1);
$color2: hsla(151%, 87%, 15%, 1);
$color3: hsla(148%, 30%, 46%, 1);
$color4: hsla(36%, 100%, 53%, 1);
$color5: hsla(156%, 100%, 85%, 1);

/* RGB */
$color1: rgba(37, 48, 49, 1);
$color2: rgba(5, 74, 41, 1);
$color3: rgba(81, 152, 114, 1);
$color4: rgba(255, 160, 17, 1);
$color5: rgba(181, 255, 225, 1);